body{
    background: rgba(150,150,150,0.3);
    background-image: url(../img/gplaypattern.png);
}

.titulo{
    text-align: center;
    font-family: "Harabara";
    font-weight: 900;
    font-size: 80px;
    padding-bottom: 50px;
    background: #deb027;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
}
.borde{
    box-shadow: 0 0 10px rgba(50,50,50,0.8);
    position: relative; 
    width: 80%; 
    left: 11%;
    background: rgba(50,50,50,0.3);
    border-radius: 5px;
    padding: 2%;
}
textarea{
    min-height: 200px;
    resize: none;
}
.my_table-hover tr:hover{
    
}
.my_table-striped tr:nth-child(even){
    background: rgba(150,150,150,0.3);
}